spring:
  application:
    name: backend

  datasource:
    url: jdbc:mysql://localhost:3306/FLogin?useSSL=false&serverTimezone=UTC
    driverClassName: com.mysql.cj.jdbc.Driver
    username: root
    password: root
  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    show-sql: true
    hibernate:
      dialect: org.hibernate.dialect.MySQLDialect
      ddl-auto: update

  # remove or disable H2 console now that MySQL is used
  h2:
    console:
      enabled: false
      path: /h2-console
